body {
  font-family: "しっぽり明朝", serif;
  color: var(--black);
  font-weight: 500;
}
/* グローバル変数 */
:root{
  --black: #333333;
  --en: "EB Garamond", serif;
  --sixTeen: 16px;
  --twentyFive: 25px;
  --forty: 40px;
  --thirtyTwo: 32px;
  --eighty-one: 81px

}

p {
  font-size: var(--sixTeen);
  line-height: 200%;
}

a {
  transition: 0.5s;
}

a:hover {
  opacity: 0.5;
}

h1, h2 {
  font-weight: bold;
}
/* ヘッダー  */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--twentyFive) 0 0 var(--forty);
  z-index: 1000;
}
/* ハンバーガーメニュー */
.hamburger-btn {
  width: var(--thirtyTwo);
  height: var(--twentyFive);
  position: relative;
  z-index: 10;
}

.hamburger-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: 0.5s;
}

/* （三本線） */
.hamburger-btn span:nth-of-type(1) {
  top: 0;
}

.hamburger-btn span:nth-of-type(2) {
  top: 50%;
}

.hamburger-btn span:nth-of-type(3) {
  bottom: 0;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  text-align: center;
  padding: var(--eighty-one) 0 0 0;
}

.header-menu li {
  margin: var(--thirtyTwo);
}

.header-menu li a {
  font-weight: 500;
  font-family: var(--en);
}

/* ✖️を作る */
.hamburger-btn.active span:nth-of-type(1), .hamburger-btn.active span:nth-of-type(3) {
  top: 50%;
}

.hamburger-btn.active span:nth-of-type(1) {
  transform: translateY(-50%) rotate(45deg);
}

.hamburger-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger-btn.active span:nth-of-type(3) {
  transform: translateY(-50%) rotate(-45deg);
}

