html {
  /* （Mac用） */
  overflow: auto;
}

body {
  font-family: "しっぽり明朝", serif;
  color: var(--black);
  font-weight: 500;
  overflow-x: hidden;
}
/* グローバル変数 */
:root{
  --black: #333333;
  --en: "EB Garamond", serif;
  --sixTeen: 16px;
  --twentyFive: 25px;
  --thirty: 30px;
  --thirtyTwo: 32px;
  --forty: 40px;
  --eighty-one: 81px;
  --twenty-four: 24px;
  --one-hundred: 100px;

}

p {
  font-size: var(--sixTeen);
  line-height: 200%;
}

a {
  transition: 0.5s;
}

a:hover {
  opacity: 0.5;
}

h1, h2 {
  font-size: var(--twenty-four);
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 0 0 40px 0;
  font-family: var(--en);
}
section {
padding: var(--one-hundred) 0;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
/* ヘッダー  */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--twentyFive) 0 0 var(--forty);
  z-index: 1000;
}
/* ハンバーガーメニュー */
.hamburger-btn {
  width: var(--thirtyTwo);
  height: var(--twentyFive);
  position: relative;
  z-index: 10;
}

.hamburger-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: 0.5s;
}

/* （三本線） */
.hamburger-btn span:nth-of-type(1) {
  top: 0;
}

.hamburger-btn span:nth-of-type(2) {
  top: 50%;
}

.hamburger-btn span:nth-of-type(3) {
  bottom: 0;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  text-align: center;
  padding: var(--eighty-one) 0 0 0;
  /* 見えないように左に寄せておく */
  transform: translateX(-100vw);
  transition: 0.5s;
}

.header-menu.active {
  transform: translateX(0);
}

.header-menu li {
  margin: var(--thirtyTwo);
}

.header-menu li a {
  font-weight: 500;
  font-family: var(--en);
}

/* ✖️を作る */
.hamburger-btn.active span:nth-of-type(1), .hamburger-btn.active span:nth-of-type(3) {
  top: 50%;
}

.hamburger-btn.active span:nth-of-type(1) {
  transform: translateY(-50%) rotate(45deg);
}

.hamburger-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger-btn.active span:nth-of-type(3) {
  transform: translateY(-50%) rotate(-45deg);
}

/* kv  */
.kv {
  background-image: url(../img/kv.jpg);
  width: 100vw;
  height: 47vw; /* 1vhはviewportの高さの1% */
  background-repeat: no-repeat;
  position: relative;
}

.kv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 100%;
  background-color: #FFFFFF;
}

.kv h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 300px;
  font-size: var(--thirty);
  font-family: var(--en);
  z-index: 100;
}

/* about */
.about-container {
  display: flex;
  align-items: center;
justify-content: space-between;
}

.about-content {
  width: 500px;
}

.about-container img {
  width: 550px;
  box-shadow: 0 3px 6px #00000052;
}