.swiper {
  width: 600px;
  height: 400px;
}
img {
  width: 100%;
  object-fit: cover;

  
}

.swiper-pagination-yellow {
  --swiper-pagination-color: yellow;
}

.swiper-button-yellow {
  --swiper-navigation-color: yellow;
}